.container {
    background-color: #9cc29a;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

form {
    height: 32vh;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

form input {
    padding: 15px 30px;
    background-color: #f5fbfe;
    border: 1px solid #ecf4f8;
    margin: 0px 0;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    z-index: 4;
}

button {
    padding: 15px 60px;
    width: 22%;
    display: inline-flex;
    align-items: normal;
    justify-content: center;
    border-radius: 100px;
    color: #fff;
    background: #11a3eb;
    border: 0;
    transition: all 0.25s ease;
}

button:focus {
    outline: none;
}

.message_container {
    width: 70%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    padding: 30px;
    overflow: auto;
    position: relative;
}

h4 {
    position: absolute;
    top: 0;
    left: 45%;
}

.toast {
    position: absolute;
    top: 50%;
    color: #fff;
    background: #657e64ad;
    border-radius: 25px;
    height: 30px;
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.message_list {
    display: flex;
    max-height: 64px;
    align-items: center;
    margin: 10px 0;
    padding: 10px 20px;
    background: #ffffff5c;
    box-shadow: 0 10px 6px -6px #657e64;
}
.avatar {
    min-width: 50px;
    max-height: 50px;
    border-radius: 25px;
}
.message_data {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.message_data h2 {
    margin: 0;
    font-size: 16px;
}

.message_data p {
    margin: 0;
    font-size: 12px;
}

.message_container::-webkit-scrollbar {
    width: 1em;
}

.message_container::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
}

.message_container::-webkit-scrollbar-thumb {
    background-color: #657e64;
    outline: 1px solid slategrey;
    outline: none;
    border-radius: 8px;
}

.search_input {
    padding: 15px 30px;
    background-color: #f5fbfe;
    border: 1px solid #ecf4f8;
    margin: 0px 0;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    z-index: 4;
}


.popup_container{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: #00000042;
    display: flex;
    align-items: center;
    justify-content: center;
}
.popup{
    position: absolute;
    width: 400px;
    height: 200px;
    top: 40%;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
}